export(ADCF, ADCV, kernelFun, UnivTest, ADCFplot, mADCF, mADCV, mADCFplot, mADCVtest, mADCFtest)

importFrom("dcov", dcov2d, dcor2d, mdcov, mdcor)

importFrom("graphics", par, plot, plot.new, points, segments)

importFrom("Rfast", vecdist, rowmeans, colmeans, rowsums,
           matrnorm, Rnorm, eachrow, colMaxs)

importFrom("Rfast2", colQuantile, Sample.int, Sample)
importFrom("stats", as.ts, is.ts, p.adjust, quantile, rnorm)

import("doParallel")
import("parallel")
import("foreach")

